body {
    background-color:white;
    font-family: 'Arial', "sans-serif";
    font-weight: lighter;
    line-height: 150%;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.4em;
    color: white;
    padding-top: 60px;
    padding-bottom: 20px;
}

